*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #76c0d0;
    font-family: 'Open Sans', sans-serif;
}
p#problem-statement{
    font-family: 'Rockwell';
    
}
div#md-img{
    background-color: rgba(118, 192, 208, 0.5);
}
span#dw-title{
    
}
p#dw-p{
   
}
@tailwind base;
@tailwind components;
@tailwind utilities;